.App {
  text-align: center;
}

.App-header {
  background-color: rgb(90, 90, 110);
  height: 72px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.applicants-wrapper {
  padding: 16px;
}

/**
* card styles
*/
.card {
  padding: 16px;
  margin-bottom: 16px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card h1 {
  font-size: 16px;
  margin-bottom: 16px;
}

.card p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

.card a.action {
  color: rgb(45, 170, 255);
  font-size: 20px;
  cursor: pointer;
}

/**
* info styles
*/
.info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card-section {
  flex-grow: 1;
  padding: 8px;
}

.name-info {
  flex-grow: 2;
}

.status {
  display: flex;
  align-items: center;
}

.status-dot:before {
  content:"\00b7";
  font-size: 80px; 
  line-height: 0.8;
}

/**
* Overlay Styles
*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 64px);
  height: calc(100vh - 64px);
  background-color: rgba(100, 100, 100, 0.7);
  padding: 32px;
  text-align: left;

}

.overlay-box {
  background-color: white;
  position: relative;
}

.overlay-box nav {
  position: absolute;
  right: 0;
}

.overlay-box .info {
  box-shadow: none;
  border-bottom: 1px solid rgba(100, 100, 100, 0.7);
}

.overlay-extended-info {
  padding: 0 16px 16px;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: green;
}
